.inputboxbtn, .newListCreatorClass {
    width: 6.7vw;
    height: 1.5vw;
    position: absolute;
}

#newListButton {
    width: 1.5vw;
    height: 1.5vw;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}