<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons-logo/logo_shortcut.png') }}">
</head>
<body>
    <div class="home">
      <div class="responsive-class">
        <div class="top-btns">
          <a href="{{ url_for('index') }}" ><div class="logo">
            <img class="logo2" src="{{ url_for('static', filename='icons-logo/logo.png') }}" />
            <div class="todist">Todist</div>
          </div></a>
          <div class="top-menu-2">
            <a href="#"><div class="contact">Contact</div></a>
            <a href="#"><div class="about-us">About us</div></a>
            <a href="#"><div class="solutions">Solutions</div></a>
            <a href="#"><div class="pricing">Pricing</div></a>
          </div>
          <div class="top-menu">
            <a href="{{ url_for('logIn') }}"><div class="log-in-btn">
              <div class="log-in">Log In</div>
            </div></a>
            <a href="#"><div class="sign-up-btn">
              <div class="sign-up">Sign Up</div>
            </div></a>
          </div>
        </div>
        <div class="main-text">
          <span>
            <span class="main-text-span">
              Stay Ahead,
              <br />
              Plan with
            </span>
            <span class="main-text-span2">Todist</span>
            <span class="main-text-span3">!</span>
          </span>
        </div>
        <div class="sub-main-text">
          Organize your work process with Todist for sucssess!
        </div>
        <div class="get-started-btn-container">
          <a href="{{ url_for('workspace') }}">
            <div class="get-started-btn">
              <p class="get-started-for-free">Get started for FREE!</p>
            </div>
          </a>
        </div>
      </div>
      <div class="boxes-flexbox">
        <div class="feature">
          <div class="feature-bg"></div>
          <img class="feature-1-line" src="feature-1-line0.svg" />
          <div class="image-area-1"></div>
          <div class="text-1">Cooperate with your teammates</div>
          <div class="work-with-team">Work with a team</div>
        </div>
        <div class="feature">
          <div class="feature-bg"></div>
          <div class="work-with-team">Work efficiently</div>
          <img class="feature-2-line" src="feature-2-line0.svg" />
          <div class="image-area-1"></div>
          <div class="text-1">Label your tasks and categorize them</div>
        </div>
        <div class="feature">
          <div class="feature-bg"></div>
          <div class="work-with-team">Set Dates</div>
          <img class="feature-3-line" src="feature-3-line0.svg" />
          <div class="image-area-1"></div>
          <div class="text-1">Set dates for your tasks</div>
        </div>
      </div>
      <div class="boxes-flexbox">
        <div class="learn-to-use">
          <div class="lear-bg"></div>
          <p class="learn-how-to-use">Learn how to use!</p>
          <img class="line-line" src="line-line0.svg" />
          <div class="learn-videa"></div>
        </div>
      </div>
      <div class="nav-bg">
        <p class="lorem">Contact Us!</p>
        <p class="lorem">Number: 420 69 420</p>
        <p class="lorem">Address: Stormy Str. 69, Jupiter</p>
        <img class="social-media-logos" src="social-media-logos0.png" />
        <div class="credit">
          <span>
            <span class="credit-span">Developed by</span>
            <span class="credit-span2">ZETA</span>
            <span class="credit-span3">Group</span>
          </span>
        </div>
        <div class="credit-year">2024</div>
      </div>
      </div>
</body>
</html>
