<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons-logo/logo_shortcut.png') }}">
</head>
<body>
    <div class="home">
        <div class="sub-main-text">
          Organize your work process with Todist for sucssess!
        </div>
        <div class="main-text">
          <span>
            <span class="main-text-span">
              Stay Ahead,
              <br />
              Plan with
            </span>
            <span class="main-text-span2">Todist</span>
            <span class="main-text-span3">!</span>
          </span>
        </div>
        <div class="learn-to-use">
          <div class="lear-bg"></div>
          <div class="learn-how-to-use">Introdution of Todist!</div>
          <iframe class="video" width="916" height="515" src="https://www.youtube.com/embed/XTI-r3xJIJY" title="Todist2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="feature-1">
          <div class="work-with-team">Work Flexible</div>
          <img class="image-area-1" src="{{ url_for('static', filename='icons-logo/flexibleIcon.png') }}"></div>
          <div class="text-1">eu feugiat pretium nibh ipsum consequat nisl vel</div>
        </div>
        <div class="feature-2">
          <div class="work-with-team2">Work Efficiently</div>
          <img class="image-area-2" src="{{ url_for('static', filename='icons-logo/effectiveIcon.png') }}"></div>
          <div class="text-2">eu feugiat pretium nibh ipsum consequat nisl vel</div>
        </div>
        <div class="feature-3">
          <div class="work-with-team3">Work With Team</div>
          <img class="image-area-3" src="{{ url_for('static', filename='icons-logo/groupIcon.png') }}"></div>
          <div class="text-3">eu feugiat pretium nibh ipsum consequat nisl vel</div>
        </div>
        <a href="{{ url_for('workspace') }}"><div class="get-started-btn">
          <div class="get-started-for-free">Get started for FREE!</div>
        </div></a>
        <div class="nav-bg"></div>
        <div class="lorem">lorem</div>
        <div class="lorem2">lorem</div>
        <div class="lorem3">lorem</div>
        <div class="lorem4">lorem</div>
        <div class="lorem5">lorem</div>
        <div class="lorem6">lorem</div>
        <div class="lorem7">lorem</div>
        <div class="lorem8">lorem</div>
        <div class="lorem9">lorem</div>
        <div class="lorem10">lorem</div>
        <div class="lorem11">lorem</div>
        <div class="lorem12">lorem</div>
        <div class="lorem13">lorem</div>
        <div class="lorem14">lorem</div>
        <div class="lorem15">lorem</div>
        <div class="lorem16">lorem</div>
        <div class="lorem17">lorem</div>
        <div class="lorem18">lorem</div>
        <div class="lorem19">lorem</div>
        <div class="lorem20">lorem</div>
        <div class="lorem21">lorem</div>
        <div class="lorem22">lorem</div>
        <div class="lorem23">lorem</div>
        <div class="lorem24">lorem</div>
        <img class="social-media-logos" src="{{ url_for('static', filename='icons-logo/social-media-logos.png') }}" />
        <div class="credit">
          <span>
            <span class="credit-span">Developed by</span>
            <span class="credit-span2">ZETA</span>
            <span class="credit-span3">Group</span>
          </span>
        </div>
        <div class="credit-year">2024</div>
        <a href="{{ url_for('index') }}" ><div class="logo">
          <img class="logo2" src="{{ url_for('static', filename='icons-logo/logo.png') }}" />
          <div class="todist">Todist</div>
        </div></a>
        <div class="top-menu-2">
          <a href="#"><div class="contact">Contact</div></a>
          <a href="#"><div class="about-us">About us</div></a>
          <a href="#"><div class="solutions">Solutions</div></a>
          <a href="#"><div class="pricing">Pricing</div></a>
        </div>
        <a href="{{ url_for('logIn') }}"><div class="log-in-btn">
          <div class="log-in">Log In</div>
        </div></a>
        <a href="#"><div class="sign-up-btn">
          <div class="sign-up">Sign Up</div>
        </div></a>
      </div>

</body>
</html>