<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todist Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logIn.css') }}">
</head>
<body>
    <div class="log-in">
        <div class="don-t-have-an-account">Don’t have an account?</div>
        <div class="log-in-bg">
          <div class="bg"></div>
          <img class="line-7" src="line-70.svg" />
          <img class="line-8" src="line-80.svg" />
          <div class="log-in2">Log In</div>
          <div class="or">Or</div>
        </div>
        <div class="e-mail-input">
          <div class="mail">E-mail:</div>
          <div class="mail-text-box"></div>
        </div>
        <div class="password-input">
          <div class="password">Password:</div>
          <div class="password-text-box"></div>
        </div>
        <div class="forgot">Forgot password?</div>
        <div class="log-in-btn">
          <div class="log-in-btn-bg"></div>
          <div class="text">Log In &gt;</div>
        </div>
        <div class="with-google">
          <div class="bg2"></div>
          <div class="text2">Log In with</div>
          <img class="google-png" src="google-png0.png" />
        </div>
        <div class="with-git">
          <div class="bg3"></div>
          <div class="text-git">Log In with</div>
          <img class="git-png" src="git-png0.png" />
        </div>
        <div class="logo-bg"></div>
        <img class="logo2" src="logo1.png" />
        <div class="todist">Todist</div>
        <div class="sign-up-btn-bg"></div>
        <div class="sign-up">Sign Up</div>
      </div>      
</body>
</html>