<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todist Log In</title>
    <link rel="stylesheet" href="logIn.css">
</head>
<body>
    <div class="log-in">
      <div class="top-btns">
        <a href="{{ url_for('index') }}" ><div class="logo">
          <img class="logo2" src="{{ url_for('static', filename='icons-logo/logo.png') }}" />
          <div class="todist">Todist</div>
        </div></a>
        <div class="top-menu-2">
          <div class="don-t-have-an-account">Don’t have an account?</div>
          <a href="#"><div class="sign-up-btn">
            <div class="sign-up">Sign Up</div>
          </div></a>
        </div>
      </div>
      </div>
      <div class="responsive-class">
        <div class="log-in-bg">
          <div class="bg"></div>
          <img class="line-7" src="line-70.svg" />
          <img class="line-8" src="line-80.svg" />
          <div class="log-in2">Log In</div>
          <div class="e-mail-input">
            <div class="mail">E-mail:</div>
            <div class="mail-text-box"></div>
          </div>
          <div class="password-input">
            <div class="password">Password:</div>
            <div class="password-text-box"></div>
          </div>
          <div class="gap">
            <div class="forgot">Forgot password?</div>
            <div class="gap2">
              <div class="log-in-btn">
                <div class="log-in-btn-bg"></div>
                <div class="text">Log In &gt;</div>
              </div>
              <div class="gap3">  
                <div class="with-google">
                  <div class="bg2">
                    <div class="text">Log In with</div>
                    <img class="google-png" src="google-png0.png" />
                  </div>
                </div>
                <div class="with-git">
                  <div class="bg3">
                    <div class="text">Log In with</div>
                    <img class="git-png" src="git-png0.png" />
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
    </div>      
</body>
</html>
