<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todist</title>
    <link rel="stylesheet" href="workspace.css">
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="cardInfo.css">
    <link rel="stylesheet" href="taskInfo.css">
    <link rel="stylesheet" href="tasks.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons-logo/logo_shortcut.png') }}">
</head>
<body>
    <div class="workspace">
        <div class="top-menu">
            <a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='icons-logo/logo.png') }}"/></a>
          <input type="file" id="fileInput" class="fileInput" onchange="changeBg(this)">      
            <a href="#"><div class="top-rec">
                <div class="board">Board</div>
            </div></a>
            <a href="#"><div class="timeline">Timeline</div></a>
            <a href="#"><div class="calendar">Calendar</div></a>
            <a href="#"><div class="table">Table</div></a>
            <div class="flex">
            <a href="#">
              <div class="shareBtnBg"></div>
                <div class="share-btn">
                <p class="share">Share</p>
              </div></a>
              <a href="#"><div class="change-bg">
                <div class="change-bg-text">Change BG</div>
              </div></a>
          </div>
        </div>
        <div class="main-bg">
          <div class="flex2">
            <div class="flex3">
              <p class="credit">Developed by <em><b>ZETA</b></em> Group</p>
              <a href="#"><img src="{{ url_for('static', filename='icons-logo/addIcon.png') }}" class="addIcon"></a>
              <a href="#">
                <div class="help-btn">
                  <div class="help">Help
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="card-info">
          <div class="card-info2">Card Info</div>
          <div class="card-name-info">
            <div class="card-name2">Card Name</div>
            <input name="nameData" type="text" placeholder="What is the name of the card?" id="nameData" class="name-info-content">
            </input>
            <div class="card-name-info-line"></div>
          </div>
          <div class="finish-info">
            <div class="finish-date2">Finish Date</div>
            <input name="deuData" type="text" placeholder="When is the due date?" id="dueData" class="finish-info-content">
            <div class="finish-info-line"></div>
          </div>
          <div class="tag-info">
            <div class="tag2">Categories</div>
            <input name="tagData" type="text" placeholder="Split tags with ','" id="tagData" class="tag-info-content">
            <div class="tag-info-line"></div>
          </div>
          <a href="#"><div class="confirm-btn">
            <div class="confirm">Confirm</div>
          </div></a>
          <a href="#"><div class="cancel-btn">
            <div class="cancel">Cancel</div>
          </div></a>
        </div>
        <div class="task-info">
          <div class="task-info2">Task Info</div>
          <div class="task-name-info">
            <div class="task-name2">Task Name</div>
            <input name="taskNameData" type="text" placeholder="What is the name of the task?" id="taskNameData" class="task-name-info-content">
            </input>
            <div class="task-name-info-line"></div>
          </div>
          <a href="#"><div class="task-confirm-btn">
            <div class="task-confirm">Confirm</div>
          </div></a>
          <a href="#"><div class="task-cancel-btn">
            <div class="task-cancel">Cancel</div>
          </div></a>
        </div>
    </div>
</body>
<script src="effects.js"></script>
<script src="card-info.js"></script>
<script src="create-card-task.js"></script>
<script src="delete-card.js"></script>
<script src="add-task.js"></script>
</html>
