.log-in,
.log-in * {
  box-sizing: border-box;
}
.log-in {
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.don-t-have-an-account {
  color: #424242;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  align-self: flex-end;
  display: flex;
}
.log-in-chard {
  position: absolute;
  inset: 0;
}
.log-in-bg {
  width: 65%;
  height: 50vh;
  min-height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg {
  background: #f7f7f7;
  border-radius: 10px;
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 3px;
  opacity: 0.699999988079071;
  width: 100%;
  height: 100%;
  max-width: 700px;
  position: absolute;
}
.line-7 {
  width: 328.54px;
  height: 0px;
  position: absolute;
  overflow: visible;
}
.line-8 {
  width: 328.54px;
  height: 0px;
  position: absolute;

  overflow: visible;
}
.log-in2 {
  color: #424242;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.e-mail-input {
  height: 68px;
  width: 72%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mail {
  color: #424242;
  width: 100%;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.mail-text-box {
  background: #d9d9d9;
  border-radius: 9px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 100%;
  height: 44px;
  position: relative;
  align-self: center;
}
.password-input {
  height: 68px;
  width: 72%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.password {
  color: #424242;
  width: 100%;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.password-text-box {
  background: #d9d9d9;
  border-radius: 9px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 100%;
  height: 44px;
  position: relative;
  align-self: center;
}
.forgot {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
  display: flex;
  align-self: center;
}
.log-in-btn {
  width: 100%;
  height: 44px;
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in-btn-bg {
  background: #91d886;
  border-radius: 9px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 100%;
  height: 44px;
  position: absolute;
}
.text {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
}
.with-google {
  width: 100%;
  height: 44px;
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg2 {
  background: #e7e27c;
  border-radius: 9px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 100%;
  height: 44px;
  position: absolute;
  justify-content: center;
  align-items :center;
  display: flex
}
.text {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.google-png {
  width: 27px;
  height: 25px;
  position: relative;
  object-fit: cover;
}
.with-git {
  width: 100%;
  height: 44px;
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg3 {
  background: #a1abe3;
  border-radius: 9px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 100%;
  height: 44px;
  position: absolute;
  justify-content: center;
  align-items :center;
  display: flex
}
.git-png {
  width: 24px;
  height: 25px;
  position: relative;
  object-fit: cover;
}
.logo {
    display: flex;
    background: #d9d9d9;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px;
    width: 20vw;
    max-width: 200px;
    min-height: 50px;
    height: 6vh;
    top: 3vw;
    position: relative;
    box-shadow: 0px 4px 10.2px -3px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
    align-items: center;
}
.top-menu-2 {
   margin-top: 3vw;
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  justify-items: center;
}

.gap2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: 400px;
  align-self: center;
}

.gap3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.responsive-class {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: -20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-bg {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 153px;
  height: 51px;
  position: absolute;
  box-shadow: 0px 4px 10.2px -3px rgba(0, 0, 0, 0.25);
}
.logo2 {
    display: flex;
    width: 22px;
    height: 20px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.sign-up-btn {
    display: flex;
    background: #e29090;
    border-radius: 4px;
    border-style: solid;
    border-color: #424242;
    border-width: 1px;
    height: 5vh;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.4s ease;
    width: 9vw;
    min-height: 40px;
}

.sign-up {
  color: #424242;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  position: absolute;
}

.todist {
    display: flex;
    color: #424242;
    text-align: left;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
}

.top-btns {
    position: relative;
    display: flex;
    padding-bottom: 5vw;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
} 

@media screen and (max-width: 900px) {
  .log-in-bg {
    width: 65%;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gap2 {
    width: 72%;
  }

  .todist {
    font-size: 17px;
  }

  .log-in2 {
    font-size: 26px;
  }

  .mail, .password, .text {
    font-size: 14px;
  }

  .forgot {
    font-size: 11px;
  }
}

@media screen and (min-width: 900px) {
  .log-in-bg {
    width: 65%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .todist {
    font-size: 20px;
  }
}
