@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.task-info {
  display: none;
  background: #f7f7f7;
  border-radius: 10px;
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 3px;
  width: 492px;
  height: 233px;
  position: absolute;
  left: 414px;
  top: 270px;
}
.task-info2 {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 16px;
  width: 93px;
  height: 20px;
}
.task-name-info {
  background: #d9d9d9;
  border-radius: 30px;
  border-style: solid;
  border-color: #424242;
  border-width: 0.5px;
  width: 462px;
  height: 36px;
  position: absolute;
  left: 13px;
  top: 49px;
}
.task-name2 {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 15px;
  top: 8px;
}
.task-name-info-content {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  left: 112px;
  top: 5px;
  pointer-events: auto;
  position: absolute;
  height: 25px;
  width: 225px;
}
.task-name-info-line {
  border-style: solid;
  border-color: #424242;
  border-width: 1px 0 0 0;
  width: 19px;
  height: 0px;
  position: absolute;
  left: 103px;
  top: 27px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.task-confirm-btn {
  background: #378CE7;
  border-radius: 5px;
  width: 100px;
  height: 28px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  transition: scale 0.3s ease;
}
.task-confirm-btn:hover {
  scale: 105%;
}
.task-confirm {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: 24px;
  top: 6px;
}
.task-cancel-btn {
  background: #a65151;
  border-radius: 5px;
  width: 100px;
  height: 28px;
  position: absolute;
  right: 130px;
  bottom: 10px;
  transition: scale 0.3s ease;
}
.task-cancel-btn:hover {
  scale: 105%;
}
.task-cancel {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 6px;
}