@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0px;
    padding: 0px;
}
.workspace,
.workspace * {
  box-sizing: border-box;
}
.workspace {
  background: #ffffff;
  height: 728px;
  position: relative;
  overflow: hidden;
}
.generall {
  position: absolute;
  inset: 0;
}
.main-bg {
  background: #e1e1e1;
  border-radius: 0px 0px 20px 20px;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 0px 4px 4px 4px;
  width: 1373px;
  height: 579px;
  position: absolute;
  left: 33px;
  top: 117px;
  box-shadow: 0px 4px 46.3px 3px rgba(0, 0, 0, 0.25);
}
.help-btn {
  background: #a1abe3;
  border-radius: 4px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 91px;
  height: 38px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: scale 0.2s ease;
}
.help {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 26px;
  top: 9px;
}
.help-btn:hover {
    scale: 105%;
}
.top-menu {
  background: #e1e1e1;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 4px;
  width: 1373px;
  height: 86px;
  position: absolute;
  left: 33px;
  top: 31px;
  box-shadow: 0px -21px 35px -19px rgba(0, 0, 0, 0.25);
}
.logo {
  width: 44px;
  height: 40.76px;
  position: absolute;
  left: 55px;
  top: 21px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.share-btn{
  background: #e6d0a3;
  border-radius: 4px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 91px;
  height: 38px;
  position: absolute;
  right: 30px;
  top: 20px;
  transition: box-shadow 0.2s ease;
}
.share-btn:hover{
  box-shadow: 0px 0px 15px 5px rgba(66, 66, 66, 0.3);
}
.share {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 22px;
  top: 9px;
}
.fileInput {
    display: none;
}
.change-bg {
  border-radius: 4px;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  width: 117px;
  height: 38px;
  position: absolute;
  right: 140px;
  top: 20px;
}
.change-bg-text {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 12px;
  top: 9px;
}
.top-rec {
  background: #d2d2d2;
  border-radius: 5px 5px 0px 0px;
  width: 94px;
  height: 69px;
  position: absolute;
  left: 163px;
  top: 10px;
  transition: width 0.5s ease;
  transition: left 0.5s ease;
}
.board {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 183px;
  top: 32px;
  width: 56px;
  height: 20.38px;
}
.timeline {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 277px;
  top: 32px;
  width: 81px;
  height: 20.38px;
}
.calendar {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 397px;
  top: 32px;
  width: 84px;
  height: 20.38px;
}
.table {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 520px;
  top: 32px;
  width: 50px;
  height: 20.38px;
}
.notes {
  color: #424242;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 645px;
  top: 32px;
  width: 54px;
  height: 20.38px;
}
.addIcon{
  position: absolute;
  scale: 50%;
  left: 528px;
  top: 150px;
  transition: scale 0.2s ease;
}
.addIcon:hover {
    scale: 55%;
}
.credit {
  color: #424242;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 658px;
  width: 162px;
  height: 13.9px;
}
